<div class="jumbotron">
    <div class="container">
        <!--ul>
        <li *ngFor="let pelicula of listaDePeliculas">

          <button class="btn btn-outline-primary" (click)="SeleccionarUnaPelicula(pelicula)">{{pelicula.nombre}}</button>
        
        </li>

      </ul-->
        <h1>Peliculas</h1>
        <div class="col-md-4" *ngFor="let pelicula of listaDePeliculas">

            <button class="btn btn-outline-primary" (click)="SeleccionarUnaPelicula(pelicula)">{{pelicula.nombre}}</button>

        </div>
    </div>
</div>